<form action="/cart" method="POST">
    <% switch(views) { case 'ejs' : %>
        <button class="btn" type="submit">Add to Cart</button>
        <input type="hidden" name="productId" value="<%= product.id %>" />
        <% break; case 'ejsWithDb' :%>
            <button class="btn" type="submit">Add to Cart</button>
            <input type="hidden" name="productId" value="<%= product._id %>" />
            <% break; case 'ejsWithDbMongoose' :%>
                <% if(isAuthenticated){ %>
                    <button class="btn" type="submit">Add to Cart</button>
                    <input type="hidden" name="productId" value="<%= product._id %>" />
                    <% } break; }%>
</form>